<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
    <meta name="author" content="Philipp Schwarzmaier">
    <meta name="description" content="Ihr Partner für Web Projekte">
    <meta property="og:title" content=schwarzmaier.work>
    <meta property="og:type" content="website">
    <meta property="og:description" content="Ihr Partner für Web Projekte">
    <meta property="og:url" content="https://schwarzmaier.work">
    <!-- <meta property="og:image" content="https://cococo.at/img/cococo_logo.svg"> -->
    <!-- <meta property="og:image:alt" content="Schwarzmaier Logo"> -->
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <link rel="canonical" href="https://schwarzmaier.work">
</head>

<body>
    {{content}}
</body>

</html>